body, h1, h2, p, ul, li, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #e2e2e2;
  }
  

.header__container {
  background-color: #3b5bdb; 
  color: #fff;
  padding: 10px;
}

.header__title {
  font-size: 24px;
  margin-left: 10px; 
}

.main__container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff; 
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  
  .form__container {
    margin-bottom: 20px;
    background-color: #ebebeb; 
    padding: 20px;
  }
  
  .form__title {
    font-size: 18px;
    color: #000; 
  }
  
  .form__input-container {
    display: flex;
    margin-top: 10px;
  }
  
  .form__input--text,
  .form__input--priority {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    background-color: #ebebeb; 
  }
  

.form__button--add-task {
    padding: 10px 30px; 
    background-color: #3b5bdb; 
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    margin: 10px auto 0; 
    border-radius: 5px; 
  }
  

.header__content {
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .header__input--search {
    padding: 8px;
    background-color: #ddd; 
    border: none;
  }
  

  
  
  .tasks__container {
    margin-top: 20px;
    background-color: #e2e2e2; 
    padding: 20px;
  }
  
  .tasks__list {
    list-style: none;
  }
  
  .task__item {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f3f5; 
  }
  
  .task-info__container {
    display: flex;
    align-items: center;
  }
  
  .task-type {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .span-urgent {
    background-color: #e40404; 
  }
  
  .span-important {
    background-color: #f3a703; 
  }
  
  .span-normal {
    background-color: #028302; 
  }
  
  .task__button--remove-task {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  